[Emerald Tablets]: EmeraldTablet_GM.md (Emerald Tablets)
[Murder on the Stonhyr Express]: MurderOnTheStonhyrExpress.md (Murder on the Stonhyr Express)
[The Demon Core]: DemonCore_GM.md (The Demon Core)
[Timeline]: Timeline.md (Timeline)
