{% extends 'mkdocs.j2' -%}

{% block site %}

site_name: TritanGM
theme:
  name: material
  custom_dir: 'yaml-wiki/theme'
  palette:
    primary: blue
    accent: blue
  favicon: 'img/favicon.ico'
  logo:
    icon: 'local_library'
repo_name: 'tapanther/TritanGM'
repo_url: 'https://github.com/tapanther/TritanGM'
site_url: 'https://tapanther.github.io/TritanGM/'

{% endblock %}
